@import url(https://fonts.googleapis.com/css?family=Signika+Negative:400,700);
hr {
  border-top: 1px solid black; 
}
ul{
  list-style-image: none;
  list-style-type: none;
}
ul.nav{
  list-style-image: unset;
}
ul.add {
  list-style-image: url("images/pls.png");
}
ul.sub {
  list-style-image: url("images/sub.png");
}
ul.mul {
  list-style-image: url("images/mul.png");
}
ul.div {
  list-style-image: url("images/div.png");
}
ul.exp {
  list-style-image: url("images/sqr.png");
}
ul.root {
  list-style-image: url("images/root.png");
}
ul.hcfLcm {
  list-style-image: url("images/hcflcm.png");
}
ul.interest{
  list-style-image: url("images/interest.png");
}

ul.area{
  list-style-image: url("images/area.png");
  background-color: none;
}
ul.perimeter{
  list-style-image: url("images/perimeter.png");
}
ul.surfacearea{
  list-style-image: url("images/surface.png");
}
ul.volume{
  list-style-image:url("images/cuboid.png");
}
ul.factor{
  list-style-image: url("images/factor.png");
}
ul.mtable{
  list-style-image: url("images/mtable.png");
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: lightgreen; 
  color: black; 
  border: 2px solid #4CAF50;
}
button:hover:enabled {
  background-color: #4CAF50;
  color: white;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  outline-style:initial;
  border-radius: 100px;
  background-color:unset;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  opacity: 0.5;
}
a.head:link, a.head:visited{
  background-color:aliceblue;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.head:hover, a.head:active {
  background-color: rgb(245, 245, 157);
}
input{
  background-color:#faf8a5;
  padding: 8px 16px;
}

.color{
  background-color: white;
  padding: unset;
}

details{
  background-color: yellow;
}

details > summary {
  padding: 2px 6px;
  width: 15em;
  border: none;
  cursor: pointer;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  display: flexbox;
  justify-content: center;
  width: 100%;
  margin: auto
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
html, body {
  height:100%;
  font-family: 'Signika Negative', sans-serif;
  font-size: 25px;
}

html {
  background: url("images/background.jpg") fixed;
  background-size: 100%;
}

div {
  overflow: hidden;
}
div.heading {
  text-align: center;
}
.heading h1{
  color: white
}

a {
  color: #322bff;
  text-decoration: underline;
  transition: 500ms;
}
a:hover {
  color: #26a1ff;
}

#header {
  background: rgba(255, 255, 255, .5);
  padding: 1%;
  overflow:visible;
  height: 80px;
  margin: 0 auto;
  display:block;
}
#header img {
  float: left;
  box-shadow: none;
}
#header ul {
  list-style: none;
  float: left;
  padding-left: 10px;
  margin-top: 15px;
}
#header ul li {
  float: left;
  min-height: 2px;
  margin-left: 10px;
  font-size: 20px;
}

@media all and (max-width: 800px) {
   #header ul {
     float: none;
     padding-left: unset;
     margin-top: unset;
   }
   #header ul li {
    float: none;
    width: 100%;
  }
   #header img {
    float: left;
    box-shadow: none;
    height: auto;
    width: 65%;
    padding-bottom: 50px;
   }
   a.head:link, a.head:visited{
    background-color:aliceblue;
    color: black;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display:inline-flexbox;
    border: 1px solid black;
  }
  a.head:hover, a.head:active {
    background-color: rgb(245, 245, 157);
  }
  #topBtn{
    height: auto;
    width: 20%;
  }
}
.fullscreen {
  position: relative;
  margin: 0 auto;
  display:block;

}
.fullscreen .header {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 0px 0px 2px #000;
}

.white {
  background: #eeeeec;
  padding: 0 5%;
}
.mult{
  background: #26a1ff;
}
.nobg {
  background: none;
  padding: 0 5%;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}
.semitrans {
  background: rgba(255, 255, 255, .5);
  padding: 0 5%;
  opacity:0;
}
.dark {
  color: #eeeeec;
  background: #010105;
  padding: 0 5%;
  text-align: center;
}